* {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

body {
    background-image: linear-gradient(rgba(0,0,0,1) 0%, rgba(10,10,10,1) 35%, rgba(46,46,46,1) 100%);
}

.wrapper{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.logo {
    width: 200px;
    height: 60px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: flex-end;
    margin: 10px
}

.container input{
    margin-right: 2px;
    padding: 0px 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.container button{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0px 20px;
}

.container button:hover{
    background-color: gray;
}

.language-flag {
    width: 80px;
    height: 80px;
}

.show-container {
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

h2{
    padding: 0px 70px;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}

.horizontal-scroll-wrapper {
    width: 100%;
    height: 600px;
    padding: 0px 50px;
    overflow-x: scroll;
    display: flex;
    scrollbar-width: none;
}

.show {
    width: 342px;
    height: 515px;
    flex-shrink: 0;
    margin-left:20px;
    margin-top: 50px;
    transition: transform 0.3s linear;   
}

.show .show-info {
    display: none;
}

.background {
    width: 342px;
    height: 515px;
    background-image: url("../img/no_poster.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    border-radius: 10px;
}

/* .background:hover{
    filter: blur(4px)
} */

.show:hover .show-info {
    display: block;
}

.show:hover {
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
}
.show-info {
    width: 342px;
    height: 515px;
    color: white;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    padding: 20px 20px;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.overview {
    overflow-y: hidden;
}